*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.accordion {
    color: #0067a9;
}

h2.accordion {
    font-size: 1rem;
    background-color: rgba(119, 180, 211, 0.7);
}

h2.accordion.active {
    background-color: rgba(119, 180, 211, 1);
}

h3.accordion {
    font-size: 0.875rem;
    background-color: rgba(119, 180, 211, 0.5);
}

h3.accordion.active {
    background-color: rgba(119, 180, 211, 0.8);
}

h4.accordion {
    font-size: 0.75rem;
    background-color: rgba(119, 180, 211, 0.3);
}

h4.accordion.active {
    background-color: rgba(119, 180, 211, 0.6);
}

.accordion-content {
    background-color: rgba(119, 180, 211, 0.1);
}

.accordion .accordion-button span {
    background-color: #0067a9;
}