.accordion {
    margin: 0px;
    padding: 24px; 
    padding-right: 54px;
    display: block;
    position: relative;
    cursor: pointer;
}

.accordion-content {
    height: 0px;
    margin: 0px;
    padding: 24px;
    padding-right: 54px;
    border: none;
    display: block;
    overflow: hidden;
    transition: all 0.25s ease;
}

.accordion-button {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 24px;
    right: 24px;
}

.accordion-button span {
    content: "";
    height: 4px;
    width: 100%;
    background-color: black;
    opacity: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.25s all ease;
}

.accordion-button span:last-child {
    transform: translateY(-50%) rotate(90deg);
}

.accordion-button-open span:first-child {
    opacity: 0;
    transform: translateY(-50%) rotate(180deg);
}

.accordion-button-open span:last-child {
    transform: translateY(-50%) rotate(180deg);
}